.sexMain {
    text-align: center;
    margin: 10em 0 0;
}

.sexHeading {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 2em;
}

.sexForm { 
    margin-bottom: 10em;        
}

.sexForm input {
    opacity: 0;
    position: absolute;   
}

.sexForm input, .sexForm label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 20px;
    cursor: pointer;
}

.sexForm label {
    position: relative;
}

.sexForm input + label:before {
    content: '';
    background: #fff;
    border: 2px solid black;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}



.sexForm input + label:before {
    border-radius: 50%;
}

.sexForm input:checked + label:before {
    content: "\2714";
    color: black;
}

.sexForm input:focus + label {
  outline: 1px solid #ddd; 
}